USE [master]
GO
/****** Object:  Database [NhaMeoShopDB]    Script Date: 6/2/2026 1:13:49 PM ******/
CREATE DATABASE [NhaMeoShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NhaMeoShopDB', FILENAME = N'D:\New folder\MSSQL15.MSSQLSERVER\MSSQL\DATA\NhaMeoShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NhaMeoShopDB_log', FILENAME = N'D:\New folder\MSSQL15.MSSQLSERVER\MSSQL\DATA\NhaMeoShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NhaMeoShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NhaMeoShopDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDons]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoHD] [nvarchar](max) NULL,
	[HoaDonSoHD] [nvarchar](450) NULL,
	[MaSP] [nvarchar](max) NULL,
	[SanPhamMaSP] [nvarchar](450) NULL,
	[SLBan] [int] NOT NULL,
	[DGBan] [float] NOT NULL,
	[GhiChuHoaDon] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChiTietHoaDons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhaps]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoPN] [nvarchar](450) NULL,
	[MaNL] [nvarchar](450) NULL,
	[SLNhap] [int] NOT NULL,
	[DGNhap] [decimal](18, 2) NOT NULL,
	[GhiChuNhap] [nvarchar](max) NULL,
	[PhieuNhapSoPN] [nvarchar](450) NULL,
 CONSTRAINT [PK_ChiTietPhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuXuats]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuXuats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoPX] [nvarchar](450) NOT NULL,
	[MaNL] [nvarchar](450) NOT NULL,
	[SLXuat] [int] NOT NULL,
	[GhiChuXuat] [nvarchar](max) NULL,
	[MaKhoPC] [nvarchar](450) NULL,
 CONSTRAINT [PK_ChiTietPhieuXuats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDons]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDons](
	[SoHD] [nvarchar](450) NOT NULL,
	[NgayLap] [datetime2](7) NOT NULL,
	[PhuPhi] [float] NOT NULL,
	[KhuyenMai] [float] NOT NULL,
	[HinhThuc] [bit] NOT NULL,
	[HinhThucTT] [bit] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[GhiChuHD] [nvarchar](max) NULL,
	[MaKH] [nvarchar](max) NULL,
	[KhachHangMaKH] [nvarchar](450) NULL,
	[MaNV] [nvarchar](max) NULL,
	[NhanVienMaNV] [nvarchar](450) NULL,
 CONSTRAINT [PK_HoaDons] PRIMARY KEY CLUSTERED 
(
	[SoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHangs]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHangs](
	[MaKH] [nvarchar](450) NOT NULL,
	[TenKH] [nvarchar](max) NOT NULL,
	[NgaySinhKH] [datetime2](7) NOT NULL,
	[SoDTKH] [nvarchar](max) NULL,
	[NgayDKTV] [datetime2](7) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[GhiChuKH] [nvarchar](max) NULL,
	[MaLoaiKH] [nvarchar](max) NULL,
	[LoaiKHMaLoaiKH] [nvarchar](450) NULL,
 CONSTRAINT [PK_KhachHangs] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoPhaChes]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoPhaChes](
	[MaKhoPC] [nvarchar](450) NOT NULL,
	[MaNL] [nvarchar](450) NULL,
	[SoLuongTon] [int] NOT NULL,
	[NgayCapNhat] [datetime2](7) NOT NULL,
	[GhiChuKhoPC] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhoPhaChes] PRIMARY KEY CLUSTERED 
(
	[MaKhoPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoTongs]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoTongs](
	[MaNL] [nvarchar](450) NOT NULL,
	[TenNL] [nvarchar](max) NOT NULL,
	[DonViNhapNL] [nvarchar](max) NULL,
	[DonViSuDungNL] [nvarchar](max) NULL,
	[TiLeQuyDoi] [real] NOT NULL,
	[DonGiaNhap] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[GhiChuNL] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhoTongs] PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiKHs]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKHs](
	[MaLoaiKH] [nvarchar](450) NOT NULL,
	[TenLoaiKH] [nvarchar](max) NOT NULL,
	[GiamGia] [float] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[GhiChuLoaiKH] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiKHs] PRIMARY KEY CLUSTERED 
(
	[MaLoaiKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNCCs]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNCCs](
	[MaLoaiNCC] [nvarchar](450) NOT NULL,
	[TenLoaiNCC] [nvarchar](max) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiNCCs] PRIMARY KEY CLUSTERED 
(
	[MaLoaiNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNhanViens]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNhanViens](
	[MaLoaiNV] [nvarchar](450) NOT NULL,
	[TenLoaiNV] [nvarchar](max) NOT NULL,
	[HeSoLuongNV] [float] NOT NULL,
	[GhiChuLoaiNV] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiNhanViens] PRIMARY KEY CLUSTERED 
(
	[MaLoaiNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPhams]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPhams](
	[MaLoaiSP] [nvarchar](450) NOT NULL,
	[TenLoaiSP] [nvarchar](max) NOT NULL,
	[GhiChuLoaiSP] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiSanPhams] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCCs]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCCs](
	[MaNCC] [nvarchar](450) NOT NULL,
	[TenNCC] [nvarchar](max) NOT NULL,
	[DiaChiNCC] [nvarchar](max) NULL,
	[SoTKNCC] [nvarchar](max) NULL,
	[TenTKNCC] [nvarchar](max) NULL,
	[GhiChuNCC] [nvarchar](max) NULL,
	[MaLoaiNCC] [nvarchar](max) NULL,
	[LoaiNCCMaLoaiNCC] [nvarchar](450) NULL,
 CONSTRAINT [PK_NCCs] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[MaNV] [nvarchar](450) NOT NULL,
	[TenNV] [nvarchar](max) NOT NULL,
	[PhaiNV] [bit] NOT NULL,
	[NgaySinhNV] [datetime2](7) NOT NULL,
	[SoDTNV] [nvarchar](max) NULL,
	[DiaChiNV] [nvarchar](max) NULL,
	[CCCD] [nvarchar](max) NULL,
	[TKNganHangNV] [nvarchar](max) NULL,
	[TenNganHangNV] [nvarchar](max) NULL,
	[GhiChuNV] [nvarchar](max) NULL,
	[UserNameNV] [nvarchar](max) NULL,
	[PasswordNV] [nvarchar](max) NULL,
	[KichHoatTK] [bit] NOT NULL,
	[MaLoaiNV] [nvarchar](max) NULL,
	[LoaiNhanVienMaLoaiNV] [nvarchar](450) NULL,
 CONSTRAINT [PK_NhanViens] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhaps]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhaps](
	[SoPN] [nvarchar](450) NOT NULL,
	[NgayNhap] [datetime2](7) NOT NULL,
	[GiaoHang] [nvarchar](max) NULL,
	[GhiChuPN] [nvarchar](max) NULL,
	[MaNV] [nvarchar](max) NULL,
	[NhanVienMaNV] [nvarchar](450) NULL,
	[MaNCC] [nvarchar](max) NULL,
	[NCCMaNCC] [nvarchar](450) NULL,
 CONSTRAINT [PK_PhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[SoPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuats]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuats](
	[SoPX] [nvarchar](450) NOT NULL,
	[NgayXuat] [datetime2](7) NOT NULL,
	[XuatHang] [nvarchar](max) NULL,
	[GhiChuPX] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhieuXuats] PRIMARY KEY CLUSTERED 
(
	[SoPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 6/2/2026 1:13:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[MaSP] [nvarchar](450) NOT NULL,
	[TenSP] [nvarchar](max) NOT NULL,
	[DonGiaSP] [float] NOT NULL,
	[HinhAnhSP] [nvarchar](max) NULL,
	[GhiChuSP] [nvarchar](max) NULL,
	[MaLoaiSP] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_SanPhams] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260602060205_TaoCSDLNhaMeo', N'5.0.17')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietHoaDons_HoaDonSoHD]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDons_HoaDonSoHD] ON [dbo].[ChiTietHoaDons]
(
	[HoaDonSoHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietHoaDons_SanPhamMaSP]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDons_SanPhamMaSP] ON [dbo].[ChiTietHoaDons]
(
	[SanPhamMaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietPhieuNhaps_MaNL]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietPhieuNhaps_MaNL] ON [dbo].[ChiTietPhieuNhaps]
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietPhieuNhaps_PhieuNhapSoPN]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietPhieuNhaps_PhieuNhapSoPN] ON [dbo].[ChiTietPhieuNhaps]
(
	[PhieuNhapSoPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietPhieuNhaps_SoPN]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietPhieuNhaps_SoPN] ON [dbo].[ChiTietPhieuNhaps]
(
	[SoPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietPhieuXuats_MaKhoPC]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietPhieuXuats_MaKhoPC] ON [dbo].[ChiTietPhieuXuats]
(
	[MaKhoPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietPhieuXuats_MaNL]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietPhieuXuats_MaNL] ON [dbo].[ChiTietPhieuXuats]
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietPhieuXuats_SoPX]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietPhieuXuats_SoPX] ON [dbo].[ChiTietPhieuXuats]
(
	[SoPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDons_KhachHangMaKH]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDons_KhachHangMaKH] ON [dbo].[HoaDons]
(
	[KhachHangMaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HoaDons_NhanVienMaNV]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDons_NhanVienMaNV] ON [dbo].[HoaDons]
(
	[NhanVienMaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KhachHangs_LoaiKHMaLoaiKH]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_KhachHangs_LoaiKHMaLoaiKH] ON [dbo].[KhachHangs]
(
	[LoaiKHMaLoaiKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KhoPhaChes_MaNL]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_KhoPhaChes_MaNL] ON [dbo].[KhoPhaChes]
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NCCs_LoaiNCCMaLoaiNCC]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_NCCs_LoaiNCCMaLoaiNCC] ON [dbo].[NCCs]
(
	[LoaiNCCMaLoaiNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NhanViens_LoaiNhanVienMaLoaiNV]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_NhanViens_LoaiNhanVienMaLoaiNV] ON [dbo].[NhanViens]
(
	[LoaiNhanVienMaLoaiNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PhieuNhaps_NCCMaNCC]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhieuNhaps_NCCMaNCC] ON [dbo].[PhieuNhaps]
(
	[NCCMaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PhieuNhaps_NhanVienMaNV]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_PhieuNhaps_NhanVienMaNV] ON [dbo].[PhieuNhaps]
(
	[NhanVienMaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SanPhams_MaLoaiSP]    Script Date: 6/2/2026 1:13:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhams_MaLoaiSP] ON [dbo].[SanPhams]
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDons_HoaDons_HoaDonSoHD] FOREIGN KEY([HoaDonSoHD])
REFERENCES [dbo].[HoaDons] ([SoHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_ChiTietHoaDons_HoaDons_HoaDonSoHD]
GO
ALTER TABLE [dbo].[ChiTietHoaDons]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDons_SanPhams_SanPhamMaSP] FOREIGN KEY([SanPhamMaSP])
REFERENCES [dbo].[SanPhams] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDons] CHECK CONSTRAINT [FK_ChiTietHoaDons_SanPhams_SanPhamMaSP]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhaps_KhoTongs_MaNL] FOREIGN KEY([MaNL])
REFERENCES [dbo].[KhoTongs] ([MaNL])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps] CHECK CONSTRAINT [FK_ChiTietPhieuNhaps_KhoTongs_MaNL]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhaps_PhieuNhaps_PhieuNhapSoPN] FOREIGN KEY([PhieuNhapSoPN])
REFERENCES [dbo].[PhieuNhaps] ([SoPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps] CHECK CONSTRAINT [FK_ChiTietPhieuNhaps_PhieuNhaps_PhieuNhapSoPN]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhaps_PhieuNhaps_SoPN] FOREIGN KEY([SoPN])
REFERENCES [dbo].[PhieuNhaps] ([SoPN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps] CHECK CONSTRAINT [FK_ChiTietPhieuNhaps_PhieuNhaps_SoPN]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuats]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuXuats_KhoPhaChes_MaKhoPC] FOREIGN KEY([MaKhoPC])
REFERENCES [dbo].[KhoPhaChes] ([MaKhoPC])
GO
ALTER TABLE [dbo].[ChiTietPhieuXuats] CHECK CONSTRAINT [FK_ChiTietPhieuXuats_KhoPhaChes_MaKhoPC]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuats]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuXuats_KhoTongs_MaNL] FOREIGN KEY([MaNL])
REFERENCES [dbo].[KhoTongs] ([MaNL])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuXuats] CHECK CONSTRAINT [FK_ChiTietPhieuXuats_KhoTongs_MaNL]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuats]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuXuats_PhieuXuats_SoPX] FOREIGN KEY([SoPX])
REFERENCES [dbo].[PhieuXuats] ([SoPX])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuXuats] CHECK CONSTRAINT [FK_ChiTietPhieuXuats_PhieuXuats_SoPX]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_KhachHangs_KhachHangMaKH] FOREIGN KEY([KhachHangMaKH])
REFERENCES [dbo].[KhachHangs] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_KhachHangs_KhachHangMaKH]
GO
ALTER TABLE [dbo].[HoaDons]  WITH CHECK ADD  CONSTRAINT [FK_HoaDons_NhanViens_NhanVienMaNV] FOREIGN KEY([NhanVienMaNV])
REFERENCES [dbo].[NhanViens] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDons] CHECK CONSTRAINT [FK_HoaDons_NhanViens_NhanVienMaNV]
GO
ALTER TABLE [dbo].[KhachHangs]  WITH CHECK ADD  CONSTRAINT [FK_KhachHangs_LoaiKHs_LoaiKHMaLoaiKH] FOREIGN KEY([LoaiKHMaLoaiKH])
REFERENCES [dbo].[LoaiKHs] ([MaLoaiKH])
GO
ALTER TABLE [dbo].[KhachHangs] CHECK CONSTRAINT [FK_KhachHangs_LoaiKHs_LoaiKHMaLoaiKH]
GO
ALTER TABLE [dbo].[KhoPhaChes]  WITH CHECK ADD  CONSTRAINT [FK_KhoPhaChes_KhoTongs_MaNL] FOREIGN KEY([MaNL])
REFERENCES [dbo].[KhoTongs] ([MaNL])
GO
ALTER TABLE [dbo].[KhoPhaChes] CHECK CONSTRAINT [FK_KhoPhaChes_KhoTongs_MaNL]
GO
ALTER TABLE [dbo].[NCCs]  WITH CHECK ADD  CONSTRAINT [FK_NCCs_LoaiNCCs_LoaiNCCMaLoaiNCC] FOREIGN KEY([LoaiNCCMaLoaiNCC])
REFERENCES [dbo].[LoaiNCCs] ([MaLoaiNCC])
GO
ALTER TABLE [dbo].[NCCs] CHECK CONSTRAINT [FK_NCCs_LoaiNCCs_LoaiNCCMaLoaiNCC]
GO
ALTER TABLE [dbo].[NhanViens]  WITH CHECK ADD  CONSTRAINT [FK_NhanViens_LoaiNhanViens_LoaiNhanVienMaLoaiNV] FOREIGN KEY([LoaiNhanVienMaLoaiNV])
REFERENCES [dbo].[LoaiNhanViens] ([MaLoaiNV])
GO
ALTER TABLE [dbo].[NhanViens] CHECK CONSTRAINT [FK_NhanViens_LoaiNhanViens_LoaiNhanVienMaLoaiNV]
GO
ALTER TABLE [dbo].[PhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhaps_NCCs_NCCMaNCC] FOREIGN KEY([NCCMaNCC])
REFERENCES [dbo].[NCCs] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhaps] CHECK CONSTRAINT [FK_PhieuNhaps_NCCs_NCCMaNCC]
GO
ALTER TABLE [dbo].[PhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhaps_NhanViens_NhanVienMaNV] FOREIGN KEY([NhanVienMaNV])
REFERENCES [dbo].[NhanViens] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhaps] CHECK CONSTRAINT [FK_PhieuNhaps_NhanViens_NhanVienMaNV]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_LoaiSanPhams_MaLoaiSP] FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LoaiSanPhams] ([MaLoaiSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_LoaiSanPhams_MaLoaiSP]
GO
USE [master]
GO
